<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652322531717-msi886077922e68uidvkq0s9m4g73f54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652322531717-msi886077922e68uidvkq0s9m4g73f54</string>
	<key>API_KEY</key>
	<string>AIzaSyAeScB_hetT-V5jvYcRiZqxGtHr_WtS2AI</string>
	<key>GCM_SENDER_ID</key>
	<string>652322531717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetcurekartchat</string>
	<key>PROJECT_ID</key>
	<string>vetcure-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>vetcure-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652322531717:ios:c4a813e6a14dcbe2febcec</string>
</dict>
</plist>